#!/usr/bin/env python

import fnertlib
import os

ssid = "..."
pwd = "..."
print("storing WIFI credentials, {ssid=}, {pwd=}")
fnertlib.store_wifi_config(ssid, pwd)

url = "..."
print(f"storing {url=}")
fnertlib.store_str_in_NVS("syno", "url", url)

# destroy this file
path = __name__ + ".py"
print(f"remove this file, {path=}")
os.remove(path)
