#!/usr/bin/env python

import os
from fnertlib import store_wifi_config, store_str_in_NVS

ssid = "..."
pwd = "..."
print("storing WIFI credentials, {ssid=}, {pwd=}")
store_wifi_config(ssid, pwd)

# sender
url = "..."
# receiver
url = "..."
print(f"storing {url=}")
store_str_in_NVS("syno", "url", url)

# needed for receiver Wifi Setup
store_str_in_NVS("system", "wifisetup", "nope")

# destroy this file
path = __name__ + ".py"
print(f"remove this file, {path=}")
os.remove(path)


